
<%= form_for @job_application do |f| %>
  <p>
    <%= f.label :full_name %>
    <%= f.text_field :full_name %>
  </p>

  <p>
    <%= f.label :phone %>
    <%= f.telephone_field :phone %>
  </p>

  <p>
    <%= f.label :hobby %>
    <%= f.text_field :hobby %>
  </p>

  <p>
    <%= f.label :years_experience %>
    <%= f.number_field :years_experience %>
  </p>

  <p>
    <%= f.label :available_date %>
    <%= f.date_field :available_date %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
