<%= form_for [@location, @event] do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :date %>
    <%= f.date_field :date %>
  </p>

  <p>
    <%= f.label :capacity %>
    <%= f.number_field :capacity %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
