<h1><%= @event.name %></h1>
<h2><%= link_to 'Events', location_events_path(@location) %></h2>
<h3><%= link_to 'New Event', new_location_event_path(@location) %></h3>

<%= render @event %>
<%= link_to 'Delete', location_event_path, method: :delete, data: {confirm: "Are you sure you want to delete the event '#{@event.name}'? This cannot be undone!"} %>
